.bg_green{
  background-color: #58d68d;
}
.green_dark{
  background-color: #28b463;
}
.bg_blue{
  background-color: #5dade2;
}
.blue_dark{
  background-color: #2e86c1;
}
.bg_grey{
  background-color: #566573;
}
.grey_dark{
  background-color: #212f3d;
}
